# Configure where the mock server will forward simulated webhooks in dev
# e.g. http://localhost:8000/payments/<payment_id>/webhook
FORWARD_PAYMENT_WEBHOOK=http://localhost:8000/payments/{payment_id}/webhook
FORWARD_INBOUND_MESSAGE=http://localhost:8000/webhooks/whatsapp_confirm
MOCK_SERVER_PORT=5000
